name: News-Bot-Scheduler

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0  # 전체 기록을 가져와야 충돌 해결 가능

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install requests

      - name: Run bot
        env:
          NAVER_CLIENT_ID: ${{ secrets.NAVER_CLIENT_ID }}
          NAVER_CLIENT_SECRET: ${{ secrets.NAVER_CLIENT_SECRET }}
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
        run: python bot.py

      - name: Commit and Push
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          
          # 기존 파일들을 일단 모두 추가
          git add .
          
          # 변경사항이 있을 때만 푸시
          if ! git diff --quiet --staged; then
            # 'last_link.txt' 관련 충돌을 피하기 위해 원격 서버 내용을 우선시하여 합침
            git pull --rebase -X theirs origin main
            git commit -m "Update news logs"
            git push origin main
          fi
